﻿@model IEnumerable<Chatrooms.Dtos.MessageDto>

@{
    ViewData["Title"] = "Chatroom";
}
<h2>@ViewBag.RoomName</h2>
<p>@ViewBag.RoomDescription</p>

<body>
    <div class="container">
        <input type="text" id="message" />
        <br />
        <br />
        <input type="button" id="sendmessage" value="Send" />
        <br />
        <br />
    </div>
</body>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
        </tr>
    </thead>
    <tbody id="tbody">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Timestamp)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to Lobby</a>
</div>


<!--Script references. -->
<!--Reference the SignalR library. -->
<script src="~/lib/signalr/dist/browser/signalr.js"></script>

<!--Add script to update the page and send messages.-->
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {

        var messageInput = document.getElementById('message');

        var roomId = window.location.pathname.match(/\d+/)[0];;
        console.log(roomId);
        // Get the user name and store it to prepend to messages.
        var name = prompt('Enter your name:', '');
        // Set initial focus to message input box.
        messageInput.focus();

        // Start the connection.
        var connection = new signalR.HubConnectionBuilder()
            .withUrl('/chat')
            .build();

        // Create a function that the hub can call to broadcast messages.
        connection.on('SendMessage', function (name, message, timestamp) {

            var trElement = document.createElement('tr');
            var tdContent = document.createElement('td');
            tdContent.innerText = message;

            var tdUser = document.createElement('td');
            tdUser.innerText = name;

            var tdTimestamp = document.createElement('td');
            tdTimestamp.innerText = timestamp;

            trElement.appendChild(tdContent);
            trElement.appendChild(tdUser);
            trElement.appendChild(tdTimestamp);

            document.getElementById('tbody').prepend(trElement);
        });

        // Transport fallback functionality is now built into start.
        connection.start()
            .then(function () {
                connection.invoke('joinRoom', roomId);

                function SendMessageToGroup(event) {
                    // Call the Send method on the hub.
                    connection.invoke('SendMessageToGroup', messageInput.value, name, roomId);

                    // Clear text box and reset focus for next comment.
                    messageInput.value = '';
                    messageInput.focus();
                    event.preventDefault();
                }

                document.getElementById('sendmessage').addEventListener('click', function (event) {
                    SendMessageToGroup(event);
                });

                document.getElementById('message').addEventListener('keypress', function (event) {
                    var key = event.which || event.keyCode || 0;

                    if (key === 13) {
                        SendMessageToGroup(event);
                    }
                });
            })
            .catch(error => {
                console.error(error.message);
            });
    });
</script>


